           QPushButton {
                background-color: #4CAF50;
                color: white;
                border-radius: 15px;  /* Округлые углы */
                padding: 10px 20px;
                font-size: 18px;
                border: 2px solid #388E3C; /* Обводка */
                margin: 5px;  /* Минимальные отступы */
            }

            QPushButton:hover {
                background-color: #45a049;
            }

            QPushButton:pressed {
                background-color: #388E3C;
            }

            /* Стили для области содержимого */
            QWidget {
                background-color: #f4f4f4; /* Фон для всего окна */
            }

            /* Стили для меню */
            QVBoxLayout {
                spacing: 0;  /* Убираем промежутки между кнопками */
            }